.initiative {
  display: flex;
  flex-direction: row;
  height: 100vh; }
  .initiative__tracker {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column; }
    .initiative__tracker__actions {
      display: flex;
      height: 60px;
      background-color: #fff;
      border-radius: 5px;
      margin: 5px; }
      .initiative__tracker__actions img {
        width: 40px;
        height: 40px; }
      .initiative__tracker__actions__button {
        display: flex;
        flex: 0 0 60px;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        transition: opacity 150ms ease-in; }
        .initiative__tracker__actions__button:hover {
          opacity: .7; }
        .initiative__tracker__actions__button + .initiative__tracker__actions__button {
          position: relative; }
          .initiative__tracker__actions__button + .initiative__tracker__actions__button::before {
            content: '';
            position: absolute;
            left: 0;
            height: 40px;
            width: 0;
            border-left: 1px solid #ebeef7; }
    .initiative__tracker__list {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px 0;
      margin: 0; }
    .initiative__tracker__item {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      margin: 5px;
      height: 55px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.03);
      background-color: #fff;
      border-radius: 5px;
      border: none;
      outline: 0;
      text-align: left;
      font-size: 1.05em;
      font-weight: 500;
      color: #3f5aa6;
      cursor: move; }
      .initiative__tracker__item::before {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px; }
      .initiative__tracker__item--player::before {
        background-color: #8ec1a3; }
      .initiative__tracker__item--monster::before {
        background-color: #a63f3f; }
      .initiative__tracker__item--clickable {
        cursor: pointer; }
      .initiative__tracker__item.dragging {
        cursor: move;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); }
      .initiative__tracker__item__item-actions {
        margin-left: auto; }
      .initiative__tracker__item button {
        display: inline-block;
        border: none;
        background-color: #3f5aa6;
        color: #fff;
        border-radius: 5px;
        font-family: monospace;
        font-size: 16px;
        font-weight: 700;
        height: 30px;
        width: 30px;
        outline: 0;
        margin-left: 5px; }
  .initiative__info {
    width: 100%;
    padding: 20px;
    overflow-y: auto; }
