.initiative {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 58px); }
  .initiative__tracker {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    background: #2E3E4D; }
    .initiative__tracker__actions {
      display: flex;
      height: 58px;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #374B5C; }
      .initiative__tracker__actions img {
        width: 40px;
        height: 40px; }
      .initiative__tracker__actions__button {
        display: flex;
        flex: 0 0 60px;
        align-items: center;
        justify-content: center;
        padding: 0;
        font-weight: 700;
        text-transform: uppercase;
        border: 0;
        background-color: transparent;
        outline: 0;
        cursor: pointer;
        transition: opacity 150ms ease-in; }
        .initiative__tracker__actions__button:hover {
          opacity: .7; }
        .initiative__tracker__actions__button + .initiative__tracker__actions__button {
          position: relative; }
          .initiative__tracker__actions__button + .initiative__tracker__actions__button::before {
            content: '';
            position: absolute;
            left: 0;
            height: 40px;
            width: 0;
            border-left: 1px solid #374B5C; }
  .initiative__info {
    width: 100%;
    padding: 20px;
    overflow-y: auto; }
