$black: #000;
$white: #fff;

$dndred: #da3827;

$color1: rgba(239, 239, 239, 1);
$color2: #8ec1a3;
$color3: rgba(52, 84, 209, 1);
$color4: rgba(56, 56, 56, 1);
$color5: rgba(209, 52, 91, 1);

$header-highlight: $color2;

$primary-color: $color5;
$secondary-color: $color3;

$bg-color: $color1;

$link-color: $color2;
