.trackerlist {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin: 0; }

.trackerlist-item {
  position: relative;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  outline: 0;
  text-align: left;
  font-size: 1.05em;
  font-weight: 500;
  color: #fff;
  cursor: move; }
  .trackerlist-item__link {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    height: 75px;
    background-image: linear-gradient(to right, #2E3E4D, #2E3E4D, #2E3E4D, #008bcf, #00cfae);
    background-size: 900px 55px;
    background-position: 0 0;
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: border-color 200ms ease-out, background-position 400ms ease-in-out; }
    .trackerlist-item__link__name--player {
      border-bottom: 1px solid #8ec1a3; }
    .trackerlist-item__link__name--monster {
      border-bottom: 1px solid #da3827; }
    .trackerlist-item__link__initiative {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 14px;
      color: #e4f2ff;
      opacity: .1; }
      .active .trackerlist-item__link__initiative {
        opacity: 0.7; }
    .trackerlist-item__link__hp {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 2px;
      background-color: #da3827;
      transition: width 200ms; }
      .trackerlist-item__link__hp__current {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        background: #8ec1a3;
        transition: height 200ms; }
      .trackerlist-item__link__hp__display {
        white-space: nowrap;
        position: absolute;
        top: 5px;
        left: 20px;
        text-align: left;
        font-size: 12px;
        color: #e4f2ff;
        opacity: 0;
        transform: translate3d(-200%, 0, 0);
        transition: transform 200ms, opacity 200ms; }
    .trackerlist-item__link:hover .trackerlist-item__link__hp {
      width: 4px; }
    .trackerlist-item__link:hover .trackerlist-item__link__hp__display {
      opacity: .2;
      transform: translate3d(0, 0, 0); }
    .trackerlist-item__link.active {
      background-position: -600px 0;
      border-top-color: rgba(0, 0, 0, 0);
      border-bottom-color: rgba(0, 0, 0, 0); }
      .trackerlist-item__link.active .trackerlist-item__link__name {
        border-bottom: 1px solid #fff; }
      .trackerlist-item__link.active .trackerlist-item__link__hp__display {
        opacity: .7;
        transform: translate3d(0, 0, 0); }
  .trackerlist-item:hover .trackerlist-item__link::before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -1px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.08); }
  .trackerlist-item.dragging {
    cursor: move;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1); }
  .trackerlist-item__actions {
    position: absolute;
    bottom: 50%;
    right: 10px;
    z-index: 1;
    transform: translateY(50%);
    display: flex;
    flex-direction: row; }
    .trackerlist-item__actions__button {
      display: flex;
      padding: 0;
      border: none;
      background-color: transparent;
      color: #008bcf;
      font-family: monospace;
      font-size: 16px;
      font-weight: 700;
      height: 20px;
      width: 20px;
      outline: 0;
      margin-left: 5px;
      cursor: pointer; }
      .trackerlist-item__actions__button img {
        opacity: 0.4;
        transition: opacity 120ms ease-in; }
        .trackerlist-item__actions__button img:hover {
          opacity: 0.9; }
