.sidebarlayout {
  display: flex;
  flex-direction: row;
  height: 100%; }
  .sidebarlayout__sidebar {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    background: #2E3E4D;
    max-height: 100%;
    overflow-y: auto; }
  .sidebarlayout__content {
    width: 100%;
    padding: 20px;
    max-height: 100%;
    overflow-y: auto; }
