.encounter-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .encounter-list button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 10px;
    margin-right: 5px;
    outline: 0;
    cursor: pointer; }
  .encounter-list__actions {
    flex: 0 0 100%; }
  .encounter-list__encounter {
    flex: 1 1 300px;
    background-color: #2E3E4D;
    color: #fff;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    outline: 0; }
    .encounter-list__encounter--selected {
      background-color: #008bcf; }
    .encounter-list__encounter__monsters {
      display: block;
      padding: 0 0 0 10px;
      margin: 0; }
      .encounter-list__encounter__monsters li {
        display: block;
        margin: 0;
        padding: 0;
        line-height: 40px; }
    .encounter-list__encounter__monster__button {
      float: right; }
