.monstersearch {
  height: 4em;
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  padding-left: 20px;
  outline: none; }
  .monstersearch::placeholder {
    color: rgba(255, 255, 255, 0.3); }
