.monstersearch {
  display: block;
  height: 4em;
  width: 100%;
  background: transparent;
  color: #fff;
  border: none;
  font-size: 18px;
  padding-left: 20px;
  outline: none; }
  .monstersearch::placeholder {
    color: rgba(255, 255, 255, 0.3); }
  .monstersearch:-webkit-autofill, .monstersearch:-webkit-autofill:hover, .monstersearch:-webkit-autofill:focus {
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #2E3E4D inset;
    background-color: #2E3E4D !important; }
