@import 'import';

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: $ff-main;
	font-size: 16px;
	background-color: #fff;
	color: #333;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

h1 {
	background-color: rgba(0, 0, 0, 0.02);
	font-size: 32px;
	padding: 0;
}

a {
	color: currentColor;
	text-decoration: none;
}

.layout {
	display: flex;
	flex-direction: row;
	margin: 0;
	height: 100vh;
	width: 100vw;
}

.navigation {
	display: flex;
	flex-direction: column;
	flex: 0 0 50px;
	overflow: hidden;
	font-size: 15px;
	font-weight: 700;
	color: #fff;
	background-color: rgba($dndred, 1);
	background-color: #202020;
	transition: flex-basis 250ms ease-in;

	&__icon {
		height: 30px;
		width: 30px;
	}

	h1 {
		flex: 0 0 80px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		padding-left: 10px;
	}

	ol {
		display: flex;
		flex-direction: column;
		list-style-type: none;
		margin: 0;
		padding: 0;
		border-top: 1px solid rgba(255, 255, 255, 0.035);
	}

	li {
		flex: 0 0 50px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		list-style-type: none;
		padding: 0 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.035);
	}

	a {
		flex: 1 1 auto;
		text-transform: uppercase;
	}
}


.layout-content {
	position: relative;
	display: flex;
	flex-direction: row;
	height: 100%;
	width: calc(100vw - 50px);
	box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);

	&__content {
		width: 100%;
		overflow-y: auto;
	}
}
